*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg-color);
}

:root{
    --Primary-color:#282c34;
    --secund-color:#20232a;
    --third-color:#61dafb;
    --white-color:#fff;
    --bg-color:#F2F3F4;
    --sneakers-color:rgb(243, 49, 49);
}

.menu-bg{
background: #20232a;
padding: 1.5rem;
width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
    color: var(--sneakers-color);
    transition: all ease-in-out 0.4s;
}

li{
    list-style: none;
}

.anuncio-bg{
    background: var(--Primary-color);
    width: 100%;
    height: 420px;
 background-image: url(https://www.fashionbeans.com/wp-content/uploads/2019/05/best-air-jordans.jpg);
 background-position:  center;
 background-size: cover;
 box-shadow: 0 0 40px var(--Primary-color);
 border-radius: 0 0 20px 20px;
}
.anuncio-bg{
    filter: brightness(80%); /* escurecer a imagem*/
}

.anuncio-bg{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.conteudo-anuncio h1,p{
color: white;
}

.conteudo-anuncio h1{
    font-size: 50px;
    color: rgb(243, 49, 49);
    border: 1px solid #fff;
    background: #20232a55;
}

.conteudo-anuncio p{
    font-size: 40px;
}

.grid-bg{ /*recebe grid*/
    display: grid;
    margin:0 auto;
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
   padding: 25px;
    overflow-x:auto;
}

 .produtos-bg{ /* recebge o flex*/
     display: flex;
     justify-content: center;
     align-items: center;
     background: var(--white-color);
     width: 15rem;
     height: 20rem;
     border-radius: 3px;
 }
 .produtos-bg:hover{
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
     transform: scale(1.05);
     transition: all ease-in-out 0.3s;
     }
 
 .jordan img{
     width: 250px;
     margin-bottom: 50px;
     padding: 7px;
 }

